.conversation-wrapper .conversation-members {
  padding: 10px;
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  background: #f3f3f3;
}
.conversation-wrapper #conversation-list {
  position: relative;
  padding: 0;
}
.conversation-wrapper #conversation-list #conversation-message-wrapper {
  border: none;
  text-align: left;
  margin: 10px 0 0 0;
}
.conversation-wrapper #conversation-list #conversation-message-wrapper .conversation-message {
  display: inline-block;
  width: 70%;
  padding: 0 15px;
  margin: 5px 0;
  background: #f3f3f3;
  color: #000;
  border-radius: 4px;
}
.conversation-wrapper #conversation-list #conversation-message-wrapper .conversation-message p {
  padding: 0;
  margin: 10px 0;
  font-size: 90%;
  color: #000;
}
.conversation-wrapper #conversation-list #conversation-message-wrapper span.conversation-date {
  display: block;
  text-align: left;
  font-size: 80%;
  color: #999;
}
.conversation-wrapper #conversation-list #conversation-message-wrapper span.conversation-date span.senders-name {
  color: #000;
  font-size: 100%;
}
.conversation-wrapper #conversation-list #conversation-message-wrapper.by-viewer {
  text-align: right;
}
.conversation-wrapper #conversation-list #conversation-message-wrapper.by-viewer span.conversation-date {
  text-align: right;
}
.conversation-wrapper #conversation-list #conversation-message-wrapper.by-viewer .conversation-message {
  background: #4dafff;
  text-align: left;
}
.conversation-wrapper #conversation-list #conversation-message-wrapper.by-viewer .conversation-message p {
  color: #fff;
}
.conversation-wrapper #conversation-list article.js-comment {
  padding: 0;
  margin: 0;
}
.view-conversations-list .views-content-wrapper,
.view-conversations-main-view .views-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  display: grid;
  -ms-grid-template-columns: repeat(1, 1fr);
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: auto;
  grid-gap: 5px;
  align-items: top;
}
.view-conversations-list .views-content-wrapper .views-row,
.view-conversations-main-view .views-content-wrapper .views-row {
  position: relative;
  padding: 0;
  border: 1px solid #ddd;
}
.view-conversations-list .views-content-wrapper .views-row span.new-comment-flag,
.view-conversations-main-view .views-content-wrapper .views-row span.new-comment-flag {
  display: block;
  padding: 2px;
  margin: 0;
  font-size: 12px;
  line-height: 1;
  color: #52bc6b;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
.view-conversations-list .views-content-wrapper .views-row .conversation-teaser-wrapper,
.view-conversations-main-view .views-content-wrapper .views-row .conversation-teaser-wrapper {
  padding: 0 5px 5px 5px;
}
.view-conversations-list .views-content-wrapper .views-row a.conversation-teaser-link,
.view-conversations-main-view .views-content-wrapper .views-row a.conversation-teaser-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
@media screen and (min-width: 750px) {
  .view-conversations-list .views-content-wrapper .views-row a.conversation-teaser-link {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .view-conversations-list .views-content-wrapper .views-row a.conversation-teaser-link:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}
