<section class="{{ node.type.0.target_id | clean_class }}-wrapper" {{ attributes }}>
    
    <h2>Chatting With</h2>

    <div class="conversation-members">
                
        {{ conversationUserList }}
        
    </div>

    {{ content.field_conversation_comment }}
    
</section>