<section class="{{ node.type.0.target_id | clean_class }}-teaser-wrapper">
  <div class="conversation-members">
    {{ conversationUserList }}
  </div>
  <a class="conversation-teaser-link" href="{{ url }}#comment-{{ content.field_conversation_comment['#items'].0.cid }}"></a>
</section>